/* colors */
:root {
  --gray: rgb(96, 115, 159);
  --gray-light: rgb(229, 233, 240);
  --gray-dark: rgb(34, 41, 57);
  --NaturalGray: #958f83;

  --black: hsl(40, 5%, 6%);
  --off-black: hsl(40, 5%, 12%);
  --black-shadow: hsla(60, 3%, 6%, 0.2);
  --github: rgb(36, 41, 46);
  --Dune: #363430;

  --white: hsl(240, 5%, 96%);
  --off-white: hsl(42, 25%, 90%);

  --orange: rgb(242, 120, 54);

  --blue: hsl(224.3, 76.3%, 48%);
  --blue: hsl(224.3, 76.3%, 48%);
  --blue-light: hsl(217.2, 91.2%, 59.8%);
}

/* --light (default) */
:root {
  --background: var(--white);
  --background-alt: rgb(from var(--gray-light) r g b / 0.85);
  --bg-gradient: rgb(from var(--gray-light) r g b / 0.5), var(--white);
  --shadow-color: var(--background);

  background-color: var(--background);

  --gray-gradient: rgb(from var(--gray-light) r g b / 0.9), #fff;
  --box-shadow-color: var(--gray-dark);
  --box-shadow:
    0 2px 6px rgb(from var(--box-shadow-color) r g b / 0.25),
    0 8px 24px rgb(from var(--box-shadow-color) r g b / 0.33),
    0 16px 32px rgb(from var(--box-shadow-color) r g b / 0.33);
  --line-shadow-color: rgb(from var(--gray) r g b / 0.25);

  --title-color: var(--black);
  --title-hover: var(--blue);
  --text-color: var(--gray-dark);
  --code-text: var(--off-white);
  --code-bg: var(--github);
  --accent: var(--off-black);

  --foreground: var(--gray);
  --muted-foreground: var(--gray-dark);
  --border: var(--Dune);
  --date: var(--gray);

  --card-background: var(--blue);
  --card-title: var(--blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --background-alt: var(--black);
    --bg-gradient: var(--background), var(--off-black);
    --shadow-color: var(--background);

    --box-shadow-color: var(--orange);
    --box-shadow: inset 0px -2px 0px 0px var(--box-shadow-color);
    --line-shadow-color: rgb(from var(--orange) r g b / 0.25);

    --title-color: var(--off-white);
    --title-hover: var(--orange);
    --text-color: var(--white);
    --code-bg: rgb(from var(--orange) r g b / 0.15);
    --code-text: rgb(from var(--orange) r g b / 100%);
    --accent: rgb(from var(--orange) r g b);

    --foreground: var(--off-white);
    --muted-foreground: var(--NaturalGray);
    --border: var(--Dune);
    --date: var(--NaturalGray);

    --card-background: var(--orange);
    --card-title: var(--orange);
  }
}

:root:has(#theme-dark:checked) {
  /* repeat @media (prefers-color-scheme: dark)  */
}

body {
  font-family: var(--font-atkinson);
  margin: 0;
  padding: 0;
  text-align: left;
  background-size: 100% 600px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--text-color);
  font-size: 20px;
  line-height: 1.7;
  background: linear-gradient(var(--bg-gradient)) no-repeat;
}

main {
  width: 720px;
  max-width: calc(100% - 2em);
  margin: auto;
  padding: 3em 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;
  color: var(--title-color);
  line-height: 1.2;
}

h1 {
  font-size: 2.5em;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.052em;
  }
}

h2 {
  font-size: 2.2em;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.441em;
  }
}

h3 {
  font-size: 1.7em;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.953em;
  }
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

strong,
b {
  font-weight: 700;
}

a {
  color: var(--accent);
}

a:hover {
  color: var(--accent);
}

p {
  margin-bottom: 1em;
}

.prose p {
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

code {
  padding: 2px 6px 4px;
  background-color: var(--code-bg);
  color: var(--code-text);
  border-radius: 8px;
  font-style: italic;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0;
  font-size: 1.333em;
}

hr {
  border: none;
  border-top: 1px solid var(--line-shadow-color);
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }

  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
